a {
	text-decoration: none
}


#balloon {
	position: absolute;
	width: 400px;
	height: 700px;
	background-image: url(./images/balloon.png)
}

.banner {
	margin-bottom: 60px
}

.banner-button,.banner-line {
	position: relative;
	width: 152px;
	height: 32px
}

.banner-line {
	width: 440px;
	height: 1px;
	background-color: #fff;
	margin-bottom: 12px
}

.banner-text-a {
	font-family: frankfurter-medium-plain;
	font-size: 24px
}

.banner-text-a,.banner-text-b,.banner-text-c {
	position: relative;
	width: 440px;
	color: #fff;
	margin-bottom: 12px
}

.banner-text-b {
	line-height: 60px;
	font-family: frankfurter-plain;
	font-size: 70px
}

.banner-text-c {
	font-family: frankfurter-medium-plain;
	font-size: 18px
}

.banner-bottom-a,.banner-bottom-b {
	position: relative;
	left: 20px;
	width: 480px;
	height: 56px;
	margin-top: -1px;
	background-image: url(./images/banner-bottom-a.png)
}

.banner-bottom-b {
	background-image: url(./images/banner-bottom-b.png)
}

#banners-container {
	position: absolute;
	left: 15%;
	width: 520px
}

.banner-middle-a,.banner-middle-b {
	position: relative;
	left: 20px;
	width: 440px;
	padding: 20px;
	background-color: #f7941d;
	overflow: hidden
}

.banner-middle-b {
	background-color: #f26d7d
}

.banner-top-a,.banner-top-b {
	position: relative;
	width: 520px;
	height: 23px;
	margin-bottom: -1px;
	background-image: url(./images/banner-top-a.png)
}

.banner-top-b {
	background-image: url(./images/banner-top-b.png)
}

#myskills
{
	left: 3500px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 32px;
	color: #fff;
	bottom: 40%	
}

#myresume
{
	font-family: 'Amatic SC', cursive;
	text-align: left;
	font-size:42px;
	color: #fff;
	top: -80px;
}

#myintro
{
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 30px;
	color: #fff;
	left: 2000px;
	top:20px;
	position: relative;
	bottom: 20%;
	width: 900px;
	height: 80%
}

body {
	margin: 0;
	background-color: #04181f;
	background-position: center;
    background-image: url(./images/bgstars.png);
    background-attachment: fixed;
	background-repeat: repeat-x;
	background-size:contain;
	overflow-x: hidden;
	
}

.building {
	position: absolute
}

#building-1 {
	left: 0;
	bottom: 0;
	width: 830px;
	height: 530px;
	background-image: url(./images/chennai.gif)
}


#buildings-container {
	position: absolute;
	left: 2000px;
	bottom: 20%;
	width: 900px;
	height: 80%
}

.content-noscroll {
	overflow: hidden
}


#container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}



#detect-container {
	position: absolute;
	background-color: #000;
	padding: 10px;
	display: inline-block;
	opacity: .8;
	filter: alpha(opacity=80)
}

.detect-name {
	font-weight: 700;
	margin-right: 10px
}

.detect-name,.detect-value {
	font-family: arial;
	color: #fff;
	font-size: 14px
}

.displaynone {
	display: none
}



#floor {
	position: absolute;
	width: 100%;
	height: 50px;
	background-image: url(./images/floor.png)
}

@font-face {
	font-family:'frankfurter-medium-plain';src:url(./font/frankfurter-medium-plain.eot);src:url(./font/frankfurter-medium-plain.eot?#iefix) format('embedded-opentype'),url(./font/frankfurter-medium-plain.woff) format('woff'),url(./font/frankfurter-medium-plain.ttf) format('truetype'),url(./font/frankfurter-medium-plain.svg#frankfurter-medium-plain) format('svg');font-weight:400;font-style:normal
}

@font-face {
	font-family:'frankfurter-plain';src:url(./font/frankfurter-plain.eot);src:url(./font/frankfurter-plain.eot?#iefix) format('embedded-opentype'),url(./font/frankfurter-plain.woff) format('woff'),url(./font/frankfurter-plain.ttf) format('truetype'),url(./font/frankfurter-plain.svg#frankfurter-plain) format('svg');font-weight:400;font-style:normal
}

@font-face {
	font-family:'Shadows Into Light, cursive;';src:url(./font/ShadowsIntoLight-Regular.ttf);src:url(./font/ShadowsIntoLight-Regular.ttf#iefix) format('embedded-opentype'),url(./font/ShadowsIntoLight-Regular.ttf) format('woff'),url(./font/ShadowsIntoLight-Regular.ttf) format('truetype'),url(./font/ShadowsIntoLight-Regular.ttf) format('svg');font-weight:400;font-style:normal
}

@font-face {
	font-family:'poster-sans-bold';src:url(./font/poster-sans-bold.eot);src:url(./font/poster-sans-bold.eot?#iefix) format('embedded-opentype'),url(./font/poster-sans-bold.woff) format('woff'),url(./font/poster-sans-bold.ttf) format('truetype'),url(./font/poster-sans-bold.svg#poster-sans-bold) format('svg');font-weight:400;font-style:normal
}


.gate {
	position: absolute;
	width: 760px;
	height: 530px;
	bottom: 20%;
	background-image: url(./images/gates-01.png)
}

#gate-1 {
	left: 1500px
	
}


.grass,.ground {
	position: absolute;
	width: 100%;
	height: 50px;
	background-image: url(./images/grass.png)
}

.ground {
	height: 100%;
	background-image: url(./images/ground.png)
}

#ground-and-grass-container-1 {
	position: absolute;
	left: 0;
	top: 80%;
	width: 9000px;
	height: 90%
}

img {
	border-style: none
}

.layer-horizontal {
	position: absolute;
	left: 0;
	top: 100%;
	height: 100%
}

#layer-horizontal-3 {
	width: 9000px
}

#page {
	left: 0;
	top: 0;
	width: 100%
}


.skill,.skill-head-leaves {
	position: absolute;
	width: 160px;
	height: 100%
}

.skill-head-leaves {
	height: 250px;
	background-image: url(./images/skill_juggle.gif)
}

.skill-stalk {
	position: absolute;
	left: 77px;
	top: 95px;
	width: 10px;
	height: 100%;
	background-color: #754c24
}

#skill-1 {
	left: 180px;
	top: 28%
}

#skill-2 {
	left: 360px;
	top: 28%
}

#skill-3 {
	left: 540px;
	top: 40%
}

#skill-4 {
	left: 720px;
	top: 32%
}

#skills-container {
	position: absolute;
	left: 4000px;
	bottom: 20%;
	width: 900px;
	height: 80%
}

.skill-line {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff
}

#skill-line-1 {
	bottom: 65%
}

#skill-line-2 {
	bottom: 52%
}

#skill-line-3 {
	bottom: 39%
}

#skill-line-4 {
	bottom: 26%
}

#skill-line-5 {
	bottom: 13%
}

.skill-ribbon {
	position: absolute
}

#skill-ribbon-container {
	position: absolute;
	width: 1200px;
	height: 40px;
	bottom: 70%
}

#skill-ribbon-1 {
	left: 196px
}

#skill-ribbon-2 {
	left: 350px
}

#skill-ribbon-3 {
	left: 540px
}

#skill-ribbon-4 {
	left: 735px
}

.skill-ribbon-left {
	position: relative;
	float: left;
	width: 20px;
	height: 40px;
	margin-right: -1px;
	background-image: url(./images/skill-ribbon-left.png)
}

.skill-ribbon-middle {
	position: relative;
	float: left;
	height: 34px;
	padding-top: 6px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #f7941d;
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	font-size: 24px
}

.skill-ribbon-right {
	position: relative;
	float: left;
	width: 20px;
	height: 40px;
	margin-left: -1px;
	background-image: url(./images/skill-ribbon-right.png)
}

#skill-text-1 {
	bottom: 66%
}

#skill-text-2 {
	bottom: 53%
}

#skill-text-3 {
	bottom: 40%
}

#skill-text-4 {
	bottom: 27%
}

#skill-text-5 {
	bottom: 14%
}

#preloader,.skill-text {
	position: absolute;
	color: #fff;
	left: 0
}

.skill-text {
	font-family: 'Bebas Neue';
	color: #fff;
	font-size: 30px
}

#vaish {
	position: relative;
	left: -50%;
	width: 80px;
	height: 160px;
	overflow: hidden
}

#vaish-container {
	position: absolute;
	left: 50%;
	bottom: 100%
}

#vaish-slides {
	
	top: 35px;
	left: 90px;
	width: 55px;
	height: 25px;
}

#vaish-slides {
	left: 0;
	top: 0;
	width: 1800px;
	height: 400px;
	background-image: url(./images/vaish.png)
}


.ribbon-absolute {
	position: absolute
}

.ribbon-container {
	position: absolute;
	width: 100%;
	height: 75px;
	top: 10%;
	text-align: center
}

.ribbon-left {
	position: relative;
	float: left;
	width: 55px;
	height: 75px;
	margin-right: -1px;
	background-image: url(./images/ribbon-left.png)
}

.ribbon-middle {
	position: relative;
	float: left;
	height: 50px;
	background-color: #c01c3b;
	font-family: 'Amatic SC', cursive;
	color: #fff;
	font-size: 36px;
	text-align: center
}

.ribbon-right {
	position: relative;
	float: left;
	width: 55px;
	height: 75px;
	margin-left: -1px;
	background-image: url(./images/ribbon-right.png)
}

.ribbon-relative {
	display: inline-block
}

#splash-container{
	position: absolute;
	bottom: 20%;
	width: 1300px;
	height: 548px
}

#title-vaishnavi {
	left: 0;
	bottom: 0;
	width: 835px;
	height: 578px;
	background-image: url(./images/title-vaish.gif)
}

.transparent {
	opacity: 0;
	filter: alpha(opacity=0)
}

.new{
	position: absolute

}

#new-container {
	position: absolute;
	left: 5000px;
	bottom: 20%;
	width: 9000px;
	height: 80%;
	color:white;
	
}

#vaishbag {
	left: 0;
	bottom: 0;
	width: 835px;
	height: 578px;
	
}

#vaishvan {
	left: 0;
	bottom: 0;
	width: 835px;
	height: 578px;
	background-image: url(./images/van.gif)
}

#vaishlinks{
	color: white;
	font-family: 'Amatic SC', cursive;
	position: absolute;
	font-size: 32px;
	width: 2000px;
	pointer-events: auto; 
	align-items: center;
	top:533px;
	left:3750px;
	
  }

  /* unvisited link */
a:link {
	color: white;
  }
  
  /* visited link */
  a:visited {
	color: white;
  }
  
  /* mouse over link */
  a:hover {
	color: rgb(255, 191, 53);
  }
  
  /* selected link */
  a:active {
	color: rgb(255, 200, 117);
  }
  
